
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.tooltip-placeholder {
    text-anchor: left;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
}

#section1 {padding-top:50px;height:1000px;color: #fff; background-color:  #1E88E5;}
#section11 {padding-top:50px;height:1000px;color: #fff; background-color: #fff; }
#section2 {padding-top:50px;height:1000px;color: #fff; background-color: #673ab7;}
#section21 {padding-top:50px;height:1000px;color: #fff; background-color: #fff; }
#section3 {padding-top:50px;height:1000px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:1000px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:1000px;color: #fff; background-color: #009688;}